<?xml version='1.0' encoding='utf-8'?>
<!-- ~ Hibernate, Relational Persistence for Idiomatic Java ~ ~ License: GNU Lesser General Public License (LGPL), version 2.1 or later. ~ See the lgpl.txt file in the root directory or <http://www.gnu.org/licenses/lgpl-2.1.html>. -->
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<!-- https://docs.jboss.org/hibernate/orm/3.3/reference/en/html/session-configuration.html -->

<hibernate-configuration>

	<session-factory>

		<property name="dialect">org.hibernate.dialect.MySQL5Dialect</property>

		<property name="connection.url">jdbc:mysql://127.0.0.1:3306/HiberTest?zeroDateTimeBehavior=convertToNull&amp;useSSL=false&amp;serverTimezone=UTC&amp;characterEncoding=latin1</property>
		<property name="connection.username">root</property>
		<property name="connection.password">hohoho</property>

		<!-- none (default value), create-only, drop, create, create-drop, validate, and update -->
		<property name="hbm2ddl.auto">create-drop</property>

		<!-- JDBC connection pool (use the built-in) -->
		<property name="connection.pool_size">64</property>

		<!-- Disable the second-level cache -->
		<property name="cache.provider_class">org.hibernate.cache.internal.NoCacheProvider</property>

		<!-- Echo all executed SQL to stdout -->
		<property name="characterEncoding">utf8</property> 
		<property name="show_sql">false</property>
		<property name="format_sql">false</property>
		<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="current_session_context_class">thread</property>

		<property name="hibernate.c3p0.min_size">8</property>
		<property name="hibernate.c3p0.max_size">32</property>
		<property name="hibernate.c3p0.timeout">300</property>
		<property name="hibernate.c3p0.max_statements">64</property>
		<property name="hibernate.c3p0.idle_test_period">3000</property>

	</session-factory>

</hibernate-configuration>
